@import "tailwindcss";
:root {
  font-family: Inter;
  --main-color: #2a2a2a;
  --main-text-color: #ffffff;
}

.intropage-background-color {
  background-color: var(--main-color);
}

.intropage-text-color {
  color: var(--main-text-color);
}

.intropage-button-bg-color {
  background-color: #DADADA;
}